<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>671968574527-gv6er3t3nvc2lvqn643gc1696edsoks2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671968574527-gv6er3t3nvc2lvqn643gc1696edsoks2</string>
	<key>API_KEY</key>
	<string>AIzaSyD-3mLbgtBRH92CkoMwXAL3UnMCg2BURuE</string>
	<key>GCM_SENDER_ID</key>
	<string>671968574527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nyp.sake.NYP25</string>
	<key>PROJECT_ID</key>
	<string>nyp25-e7815</string>
	<key>STORAGE_BUCKET</key>
	<string>nyp25-e7815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:671968574527:ios:03f1a4b5b9338e08</string>
	<key>DATABASE_URL</key>
	<string>https://nyp25-e7815.firebaseio.com</string>
</dict>
</plist>
